.row:after{
	content: "";
	display: table;
	clear: both;
}
.div1{
	font-size: 18px;
	padding-left: 15px;
}
@media only screen and (min-width: 1400px) {
   .div1{
	   padding-left: 30px;
	   font-size: 35px;
   }
}
.div2{width: 30%;}
.div3{width: 40%;}
#icon1{color: black;}
@media only screen and (min-width: 1400px) {
   #icon1{
	   font-size: 30px;
	   padding-top: 12px;
	   padding-right: 30px;
   }
}
#icon1:hover{color: green;}
#link{font-family: cursive;color: green;}
#wish{font-weight: bold;}
@media only screen and (min-width: 1400px) {
   .list{
	   font-size: 25px;
	   margin-left: 50px;
   }
}
#p1{color: blue;font-family: cursive;font-size: 20px;}
#span{color: orange;}
@media only screen and (min-width: 1400px) {
   #p1{font-size: 25px;}
}
#btn1{margin-left: 25px;}
@media only screen and (min-width: 1400px) {
   #btn1{margin-left: 400px;font-size: 20px;}
}
